<div id="wheater">
	<div class="left">
		<h3>{{city}}</h3>
		<span class="pe-7w-{{icon}} pe-5x pe-lg"></span>
	</div>
	<div class="rigth">
		<p>Clima {{{summary}}}</p>
		<p>Temperatura: {{temperature}}</p>
		<p>Humedad: {{humidity}} </p>
	</div>
</div>